
#define SOFTWARE_VERSION "05.07.2026"
#define RECEIVER_NODE    "<YOUR_MESHTASTIC_NODE_ID>"    // replace with the node ID of the receiver node in format XXXX

// Add your MQTT Broker IP address:
const char* mqtt_server = "<YOUR_MQTT_BROKER_IP_ADDRESS>";
const char* user =       "<USERNAME>";
const char* pass=        "<PASSWORD>";

// Add SSID and password for the WiFi AP
const char* ssid     = "MeshBeeWifi";      // your network SSID (name) 
const char* password = "MeshBee123";       // your network password

const char* apSSID     = "MeshBee";
const char* apPassword = "MeshBee123";
