

/*
MQTT server
*/

// Add your MQTT Broker IP address, example:
//const char* mqtt_server = "YOUR_MQTT_BROKER_IP_ADDRESS";

#ifdef WILLY
const char* mqtt_server = "xxx.xxx.xxx.xxx";
const char* user =       "xxxx";
const char* pass=        "xxxx";
#else
const char* mqtt_server = "xxx.xxx.xxx.xxx";
const char* user =       "xxx";
const char* pass =       "xxx";
#endif

const char* ssid     = "xxx";   // your network SSID (name) 
const char* password = "xxx";   // your network password
